@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Open+Sans&family=REM:wght@300;400&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Frank Ruhl Libre', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'REM', sans-serif;
}

header {
  font-family: 'REM', sans-serif;
  width: 100%;
  background-color: #4a4a4a;
  height: 130px;
  display: flex;
  flex-direction: column;
}

.logo {
  position: relative;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 500px;
  height: 100%;
}

.links {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 15px;
  gap: 100px;
}

.right-section {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  bottom: 20px;
  right: 20px;
}

.cart img {
  width: 45px;
}

#heroimg {
  width: 100%;
}


.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 40px auto;
  gap: 50px;
  justify-content: center;
}
.products > .product-card:last-child {
  margin-right: auto;
}

.product-card {
  width: 360px;
  margin-top: 50px;
}
.product-imgdiv img {
  width: 100%;
}

h3 {
  margin: 10px;
  font-family: 'open sans', sans-serif;
  font-weight: 800;
}

.product-info {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  background-color: #DB9D2C;
  height: 200px;
}

.contact h1 {
  display: flex;
  font-family: 'open sans', sans-serif;
  font-weight: 800;
  justify-content: center;
  padding-top: 10px;
}

.offer {
  width: 400px;
justify-content: center;}

offer h1 {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  justify-content: center;
  padding-top: 10px;
}

/* MediaQuerries */

@media (width <= 1080px) {
  .products {
    gap: 0px;
  }
}
